<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/wp-content/themes/wsparrow/public/assets/css/front-page.critical.css">
    <link rel="stylesheet" href="/wp-content/themes/wsparrow/public/assets/css/front-page.css">
    <script src="/wp-content/themes/wsparrow/public/assets/js/front-page.js"></script>
</head>
<header data-post-id="{{ post_id }}" class="site-header">
    <div class="container">
        <div class="row">
            <a href="/" class="py-15 md-py-10 col-lg-3 col-md-3 col-sm-6 col-6 site-header__logo">На главную</a>
        </div>
    </div>
</header>
</html>
