{% include 'header.twig' %}
<section class="jumbo">
    <div class="container">
        <div class="row">
            <div class="jumbo__content col-lg-6 py-60 md-py-45 sm-py-30">
                <h1>Title</h1>
            </div>
        </div>
    </div>
</section>
<section class="releases">
    <div class="container py-45 md-py-30">
        <div class="row">
            <div class="col-lg-3 col-xl-2 release-filter">
                {% include 'filter.twig' %}
            </div>
            <div class="col-lg-9 col-xl-10">
                <div class="row">
                    <div class="col-lg-12 sorting-widget text-right">
                        <form class="sorting-form" method="GET">
                            <button name="sort_by" class="btn btn-sorting" value="date">Сортировать по дате <span class="dropdown-arrow"></span></button>
                            <button name="sort_by" class="btn btn-sorting" value="title">Сортировать по названию <span class="dropdown-arrow"></span></button>
                            <select onchange="this.parentNode.submit()" name="per_page" id="">
                                {% for option in sorting.per_page %}
                                    <option {{ option.selected }} value="{{ option.value }}">{{ option.name }}</option>
                                {% endfor %}
                            </select>
                            <select class="order-by" name="order_by" type="hidden" value="{{ sorting.order_by }}">
                                {% for option in sorting.options %}
                                    <option {{ option.selected }} value="{{ option.value }}">{{ option.name }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                    <div class="col-lg-12 release-area">
                        <div class="row">
                            {% for artist in posts %}
                                {% include 'artist-card.twig' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% if pagination %}
    <div class="container my-60 md-my-30">
        <div class="row">
            <div class="text-center col-lg-12">
                <div class="pagination">
                    {{ pagination | raw }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% include 'footer.twig' %}
