.dropdown-arrow{
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  width: 8px;
  height: 8px;
  margin-left: 10px;
  transform: rotate(-45deg) translateY(-25%);
  &.up{
    transform: rotate(135deg) translateY(-25%);
  }
}

[data-order="desc"]{
  .dropdown-arrow{
    transform: rotate(-45deg) translateY(-25%);
  }
}

[data-order="asc"]{
  .dropdown-arrow {
    transform: rotate(135deg) translateY(-25%);
  }
}
