{% include 'header.twig' %}
<section class="jumbo">
    <div class="container">
        <div class="row">
            <div class="jumbo__content col-lg-6 py-60 md-py-45 sm-py-30">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </div>
</section>
<section class="artist py-60 md-py-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 artist-card">
                <div class="artist-card__image">
                    <picture>
                        <img class="" src="{{ context.album_image }}" alt="">
                    </picture>
                </div>
                <div class="artist-card__title py-15 text-center">
                    {{ title }} ({{ context.release_year }})
                </div>
            </div>
            <div class="col-lg-10 artist-card-content">
                {{ context.text_description | raw }}<br>
                Исполнитель: <a href="{{ context.author_url }}">{{ context.author }}</a><br>
                Год: {{ context.release_year }}<br>
                Формат: {{ context.release_format }}<br>
                Жанры: {{ context.genres }}<br>
            </div>
            <div class="col-lg-12 py-60">
                <h2>Трек лист</h2>
                <div class="row py-10">
                    {% for track in context.tracklist %}
                        <div class="album-card col-lg-12">
                            {{ track.track }} ({{ track.track_length }})
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="carousel"></section>
{% include 'footer.twig' %}
