header.site-header{
  background-color: $light-gray;
  .site-header__logo{
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  header.site-header{
    .site-header__logo{
      font-size: 26px;
    }
  }
}

@media screen and (min-width: 992px) {
  header.site-header{
    .site-header__logo{
      font-size: 30px;
    }
  }
}
