{% include 'header.twig' %}
<section class="jumbo">
    <div class="container">
        <div class="row">
            <div class="jumbo__content col-lg-6 py-60 md-py-45 sm-py-30">
                <h1>Исполнители</h1>
            </div>
        </div>
    </div>
</section>
<section class="archive-artists py-60 md-py-30">
    <div class="container">
        <div class="row">
            {% for artist in context %}
                {% include 'artist-card.twig' %}
            {% endfor %}
        </div>
    </div>
</section>
{% include 'footer.twig' %}
