{% include 'header.twig' %}
<section class="jumbo">
    <div class="container">
        <div class="row">
            <div class="jumbo__content col-lg-6 py-60 md-py-45 sm-py-30">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </div>
</section>
<section class="artist py-60 md-py-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 artist-card">
                <div class="artist-card__image">
                    <picture>
                        <img class="" src="{{ context.artist.album_image }}" alt="">
                    </picture>
                </div>
                <div class="artist-card__title py-15 text-center">
                    {{ title }}
                </div>
            </div>
            <div class="col-lg-10 artist-card-content">
                {{ context.artist.text_description | raw }}
            </div>
            <div class="col-lg-12 py-60">
                <h2>Альбомы</h2>
                <div class="row py-10">
                    {% for key, album_content in context.albums %}
                        <div class="col-lg-12">
                            <h4>{{ key }}</h4>
                            <div class="row">
                                {% for album in album_content %}
                                    <a href="{{ album.url }}" class="album-card col-lg-2">
                                        <div class="album-card__image">
                                            <picture>
                                                <img class="" src="{{ album.album_image }}" alt="">
                                            </picture>
                                        </div>
                                        <div class="album-card__title py-15 text-center">
                                            {{ album.title }}
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-12 py-60">
                <h2>Трек лист</h2>
                <div class="row py-10">
                    {% for key, album_content in context.albums %}
                        {% for album in album_content %}
                            {% for track in album.tracklist %}
                                <a href="{{ album.url }}" class="album-card col-lg-12">
                                    {{ track.track }} ({{ album.release_year }})
                                </a>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="carousel"></section>
{% include 'footer.twig' %}
