.artist-card{
  .artist-card__image{
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 100%;
    position: relative;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

     img{
       position: absolute;
       top: 0;
       transition: all 0.3s linear;
     }
  }

  .artist-card__title{
    font-size: 24px;
    color: $main_color;
  }
  &:hover{
    .artist-card__image{
      img{
        transform: scale(1.2);
      }
    }
  }
}

