.release-filter {

  .filter-wrapper {
    position: sticky;
    top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 8px -5px currentColor;
    padding: 10px 15px;

    .filter-row {
      select {
        width: 100%;
        border-radius: 3px;
        padding: 5px 10px;
      }
    }
  }
}


