<h2 class="text-center py-30">Недавно вы просматривали:</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-12 carousel__container swiper-container">
            <div class="row swiper-wrapper">
                {% for item in carousel %}
                    <a href="{{ item.url }}" class="swiper-slide carousel-slide col-lg-3">
                        <picture><img class="carousel-slide__image" src="{{ item.image }}" alt=""></picture>
                        <span class="carousel-slide__title">{{ item.title }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
