{% block artist_card %}
    <a href="{{ artist.url }}" class="col-lg-2 artist-card py-15">
        <div class="artist-card__image">
            <picture>
                <img class="" src="{{ artist.album_image }}" alt="">
            </picture>
        </div>
        <div class="artist-card__title py-15 text-center">
            {{ artist.title }}
        </div>
    </a>
{% endblock %}
