<div class="filter-wrapper">
    <h3>Фильтр</h3>
    <form method="GET">
        {% for name, value in filter %}
            <div class="filter-row py-10">
                <label for="filter-{{ name }}">{{ name }}</label>
                <select onchange="this.parentNode.parentNode.submit()" name="sorting[{{ name }}]" id="filter-{{ name }}">
                    <option selected value="false">Не важно</option>
                    {% for option_heading, content in value %}
                        {% if option_heading == 'Не важно' %}
                            {# Не успел реализовать #}
                            <option value="false">{{ option_heading }} ({{ content.count }})</option>
                        {% else %}
                            <option {{ content.selected }} value="{{ option_heading }}">{{ option_heading }} ({{ content.count }})</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
    </form>
</div>
