//@import "../../../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../../../node_modules/bootstrap/scss/bootstrap";

@media screen and (min-width: 1440px){
  .container{
    max-width: 1370px;
  }
}

@media screen and (min-width: 1600px){
  .container{
    max-width: 1560px;
  }
}
