@for $i from 0 through 80 {
  .pt-#{$i*5} {
    padding-top: 5px * $i;
  }
  .pb-#{$i*5} {
    padding-bottom: 5px * $i;
  }
  .py-#{$i*5} {
    padding-top: 5px * $i;
    padding-bottom: 5px * $i;
  }
  .px-#{$i*5} {
    padding-left: 5px * $i;
    padding-right: 5px * $i;
  }
  .mt-#{$i*5} {
    margin-top: 5px * $i;
  }
  .mb-#{$i*5} {
    margin-bottom: 5px * $i;
  }
  .my-#{$i*5} {
    margin-top: 5px * $i;
    margin-bottom: 5px * $i;
  }
  .mx-#{$i*5} {
    margin-left: 5px * $i;
    margin-right: 5px * $i;
  }
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.not-mobile {
  display: none;
}

@media screen and (min-width: 992px) {
  .not-mobile {
    display: block;
  }

  .lg-text-right{
    text-align: right;
  }

  .lg-text-center{
    text-align: center;
  }

  .lg-space-between {
    justify-content: space-between;
  }
  .lg-flex {
    display: flex;
  }
  .lg-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .md-pb-6{
    padding-bottom: 6px;
  }
  .md-pt-0{
    padding-top: 0;
  }
  .md-order-1{
    order:1;
  }
  .md-order-2{
    order:2;
  }
  .md-text-left {
    text-align: left;
  }
  .md-text-center {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .md-flex {
    display: flex;
  }

  .md-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .md-flex-v-center{
    display: flex;
    align-items: center;
  }

  @for $i from 0 through 40 {
    .md-pt-#{$i*5} {
      padding-top: 5px * $i;
    }
    .md-pb-#{$i*5} {
      padding-bottom: 5px * $i;
    }
    .md-py-#{$i*5} {
      padding-top: 5px * $i;
      padding-bottom: 5px * $i;
    }
    .md-px-#{$i*5} {
      padding-left: 5px * $i;
      padding-right: 5px * $i;
    }
    .md-mt-#{$i*5} {
      margin-top: 5px * $i;
    }
    .md-mb-#{$i*5} {
      margin-bottom: 5px * $i;
    }
    .md-my-#{$i*5} {
      margin-top: 5px * $i;
      margin-bottom: 5px * $i;
    }
    .md-mx-#{$i*5} {
      margin-left: 5px * $i;
      margin-right: 5px * $i;
    }
  }
}

@media screen and (max-width: 768px) {
  @for $i from 0 through 40 {
    .sm-pt-#{$i*5} {
      padding-top: 5px * $i;
    }
    .sm-pb-#{$i*5} {
      padding-bottom: 5px * $i;
    }
    .sm-py-#{$i*5} {
      padding-top: 5px * $i;
      padding-bottom: 5px * $i;
    }
    .sm-px-#{$i*5} {
      padding-left: 5px * $i;
      padding-right: 5px * $i;
    }
    .sm-mt-#{$i*5} {
      margin-top: 5px * $i;
    }
    .sm-mb-#{$i*5} {
      margin-bottom: 5px * $i;
    }
    .sm-my-#{$i*5} {
      margin-top: 5px * $i;
      margin-bottom: 5px * $i;
    }
    .sm-mx-#{$i*5} {
      margin-left: 5px * $i;
      margin-right: 5px * $i;
    }
  }
}

@media screen and (max-width: 576px) {
  @for $i from 0 through 40 {
    .xs-pt-#{$i*5} {
      padding-top: 5px * $i;
    }
    .xs-pb-#{$i*5} {
      padding-bottom: 5px * $i;
    }
    .xs-py-#{$i*5} {
      padding-top: 5px * $i;
      padding-bottom: 5px * $i;
    }
    .xs-px-#{$i*5} {
      padding-left: 5px * $i;
      padding-right: 5px * $i;
    }
    .xs-mt-#{$i*5} {
      margin-top: 5px * $i;
    }
    .xs-mb-#{$i*5} {
      margin-bottom: 5px * $i;
    }
    .xs-my-#{$i*5} {
      margin-top: 5px * $i;
      margin-bottom: 5px * $i;
    }
    .xs-mx-#{$i*5} {
      margin-left: 5px * $i;
      margin-right: 5px * $i;
    }
  }
}

