/**
  ______

  Fonts

  ______
 */
$ff_os : 'Open Sans', sans-serif;
$ff_ss : 'Source Sans Pro', sans-serif;

/**
  ______

  Colors:

  ______
 */


$main_color: #5293ff;
$light-gray: #ededed;
$dark_gray: #111111;
